// COLOR VARIABLES


// FONT VARIABLES
$font-primary: Arial, Helvetica, sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 56.25em;;    // 900px;
$bp-small: 37.5em;    // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
    @media only screen and (max-width: $bp-medium) {
        font-size: 45%;
    }
}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
}

.container::before,
.container::after{
    margin: 0;
}
.container {
    width: 100%;
    display: grid;
    grid-template-rows: 0 4rem max-content min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    @media only screen and (max-width: $bp-medium) {
        width: 100%;
        grid-template-rows: 0 minmax(4rem, max-content) max-content min-content 40vw repeat(3, min-content);
    }
    // justify-content: center;
    &__header{
        grid-column: full-start / full-end;
        align-self: center;
    }
    &__banner1{
        grid-column: full-start / full-end;
    }
    &__banner2{
        grid-column: full-start / full-end;
    }
    &__banner3{
        grid-column: full-start / full-end;
    }
    &__banner4{
        grid-column: full-start / full-end;
    }
    &__banner5{
        grid-column: full-start / full-end;
    }
    &__banner6{
        grid-column: full-start / full-end;
    }
    &__footer{
        grid-column: full-start / full-end;
    }
}