<div class="banner4">
    <div class="banner4__heading"><span class="banner4__heading-color">A true omnichannel</span> financing solution</div>
    <div class="banner4__financing">
        <div class="banner4__financing-item1">
            <div class="banner4__financing-imgdiv">
                <img class="banner4__financing-item-image" src="../../../assets/banner4-img1.jpg" alt="">
            </div>
            <div class="banner4__financing-item-text">
                Aesnik In-store
            </div>
            <div class="banner4__financing-item-desc">
                An associate-led process with no paperwork, minimal data entry, and a simple user interface.
            </div>
        </div>
        <div class="banner4__financing-item2">
            <div class="banner4__financing-imgdiv">
                <img class="banner4__financing-item-image" src="../../../assets/banner4-img2.jpg" alt="">
            </div>
            <div class="banner4__financing-item-text">
                Aesnik On-the-go
            </div>
            <div class="banner4__financing-item-desc">
                A contactless process that can be completed by a customer from their connected device.
            </div>
        </div>
        <div class="banner4__financing-item3">
            <div class="banner4__financing-imgdiv">
                <img class="banner4__financing-item-image" src="../../../assets/banner4-img3.jpg" alt="">
            </div>
            <div class="banner4__financing-item-text">
                Aesnik Online
            </div>
            <div class="banner4__financing-item-desc">
                An e-commerce solution that integrates Sunbit technology directly into your online checkout process.
            </div>
        </div>
    </div>
</div>