<div class="div-color">
    &nbsp;
</div>
<div class="banner3">
    <div class="banner3__middlediv">
        <div class="banner3__quoteddiv">
            <span class="banner3__quotes">
                    &#8220;
            </span>
        </div>
        <div class="banner3__imagediv">
            <img class="banner3__image" src="../../../assets/banner3-img2.jpg" alt="">
        </div>
        <div class="banner3__textdiv">
            No matter your experience level it’s easy to create in Figma. With an easy to use interface you can be up and running in minutes. Anyone can insert shared components into team design files. Get updates when changes are made to shared components.
        </div>
        <div class="banner3__subimagediv">
            <img src="../../../assets/banner3-img1.jpg" class="banner3__subimage" alt="">
        </div>
        <div class="banner3__desktop-text">
            <div class="banner3__desktop-text-name">Mark Bennings</div>
            <div class="banner3__desktop-text-designation">Director Of Fixed Ops, Cerritos Acura</div>
            <div class="banner3__desktop-text-arrows"><span class="banner3__desktop-text-arrows-larrow">&#8592;</span> &nbsp;
                <span class="banner3__desktop-text-arrows-rrrow">&#8594;</span></div>
        </div>
        <div class="banner3__smalldevice-text">
            <div class="banner3__smalldevice-text-arrows"><span class="banner3__smalldevice-text-arrows-larrow">&#8592;</span> &nbsp;
                <span class="banner3__smalldevice-text-arrows-rrrow">&#8594;</span></div>
            <div class="banner3__smalldevice-text-name">Mark Bennings</div>
            <div class="banner3__smalldevice-designation">Director Of Fixed Ops, Cerritos Acura</div>
        </div>
    </div>
    
</div>