<div class="banner3">
    <div class="banner3__color-div">&nbsp;</div>
    <div class="banner3__grid">
        <div class="banner3__grid-message">

            <svg class="banner3__grid-message-svg" viewBox="0 0 572 208" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M41.7043 1.46466C6.99993 -2 0.155327 25.5364 1.07864 40.3497V138.488C1.07864 159.967 20.1603 169.041 29.7011 170.892L220.826 207V179.225L535.675 190.335C565.221 191.816 571.376 171.818 570.76 161.634V35.7204C573.715 6.83441 548.601 0.847409 535.675 1.46466H41.7043Z"
                    fill="#1D2F69" stroke="#212D66" />
            </svg>
        </div>
        <div class="banner3__grid-message-text">
            <div class="banner3__grid-message-quote">
                &#8220;
            </div>
            No matter your experience level it’s easy to create in Figma. With an easy to use interface you can be up
            and running in minutes. Anyone can insert shared components into team design files. Get updates when changes
            are made to shared components.
        </div>
        <div class="banner3__grid-image">
            <figure>
                <img class="banner3__grid-image-1" src="../../../assets/banner3-img1.jpg" alt="">
            </figure>
        </div>
        <div class="banner3__grid-details">
            <div class="banner3__grid-details-name">Mark Bennings</div>
            <div class="banner3__grid-details-designation">Director Of Fixed Ops, Cerritos Acura</div>
            <div class="banner3__grid-details-arrows"><span class="banner3__grid-details-arrows-larrow">&#8592;</span> &nbsp;
                <span class="banner3__grid-details-arrows-rrrow">&#8594;</span></div>
        </div>
    </div>
</div>