<div class="footer">
    <div class="footer__content--desktop">
        <div></div>
        <div class="footer__content--desktop-logos">
            <div class="footer__content--desktop-logos-row1">
                <div>
                    <img src="../../../assets/newproject.jpg" alt="Logo">
                </div>
                <div class="footer__content--desktop-logos-row1-text">
                    Aesnik
                </div>
            </div>
            <div class="footer__content--desktop-logos-row2">
                <div>
                    <img src="../../../assets/fb.jpg" alt="fb-logo">
                </div>
                <div>
                    <img src="../../../assets/twitter.jpg" alt="twitter-logo">
                </div>
                <div>
                    <img src="../../../assets/linkedin.jpg" alt="linked-in logo">
                </div>
                <div>
                    <img src="../../../assets/insta.jpg" alt="insta-logo">
                </div>
            </div>
        </div>
        <div class="footer__content--desktop-company">
            <div class="footer__content--desktop-company-header">Company</div>
            <div></div>
            <div class="footer__content--desktop-company-subcontent">About</div>
            <div class="footer__content--desktop-company-subcontent">Leadership</div>
            <div class="footer__content--desktop-company-subcontent">Careers</div>
            <div class="footer__content--desktop-company-subcontent">Rates & Terms</div>
        </div>
        <div class="footer__content--desktop-legal">
            <div class="footer__content--desktop-company-header">Legal</div>
            <div></div>
            <div class="footer__content--desktop-company-subcontent">Accessibility</div>
            <div class="footer__content--desktop-company-subcontent">Privacy</div>
            <div class="footer__content--desktop-company-subcontent">Terms of Use</div>
        </div>
        <div class="footer__content--desktop-getstarted">
            <div class="footer__content--desktop-company-header">Get Started</div>
            <div></div>
            <div class="footer__content--desktop-company-subcontent">Contact Us</div>
            <div class="footer__content--desktop-company-subcontent">Request Demo</div>
        </div>
        <div></div>
    </div>
    <div class="footer__content--smalldevice">
        <div></div>
        <div class="footer__content--smalldevice-logos-row1">
            <div>
                <img src="../../../assets/newproject.jpg" alt="Logo">
            </div>
            <div class="footer__content--smalldevice-logos-row1-text">
                Aesnik
            </div>
        </div>
        <div class="footer__content--smalldevice-logos-row2">
            <div>
                <img src="../../../assets/fb.jpg" alt="fb-logo">
            </div>
            <div>
                <img src="../../../assets/twitter.jpg" alt="twitter-logo">
            </div>
            <div>
                <img src="../../../assets/linkedin.jpg" alt="linked-in logo">
            </div>
            <div>
                <img src="../../../assets/insta.jpg" alt="insta-logo">
            </div>
        </div>
        <div class="footer__content--smalldevice-mataccordian mataccordian-padding">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="panel-header">
                        <mat-panel-title class="panel-title">
                            Company
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <div class="footer__content--smalldevice-company-subcontent">About</div>
                        <div class="footer__content--smalldevice-company-subcontent">Leadership</div>
                        <div class="footer__content--smalldevice-company-subcontent">Careers</div>
                        <div class="footer__content--smalldevice-company-subcontent">Rates & Terms</div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="footer__content--smalldevice-mataccordian mataccordian-padding">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="panel-header">
                        <mat-panel-title class="panel-title">
                            Legal
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <div class="footer__content--smalldevice-company-subcontent">Accessibility</div>
                        <div class="footer__content--smalldevice-company-subcontent">Privacy</div>
                        <div class="footer__content--smalldevice-company-subcontent">Terms of Use</div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div  class="footer__content--smalldevice-mataccordian">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="panel-header">
                        <mat-panel-title class="panel-title">
                            Get Started
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <div class="footer__content--smalldevice-company-subcontent">Contact Us</div>
                        <div class="footer__content--smalldevice-company-subcontent">Request Demo</div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div></div>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright--para">&#169; Copyrights 2021. All rights reserved.</p>
    </div>
</div>